@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700,700i')

$font-main: 'Fira Sans', 'Noto Sans SC', sans-serifs
$font-sec: 'Roboto Slab', serif
$font-md: 16px
$font-lg: 18px
$font-sm: 15px
$font-xs: 14px

// Colors
$main: #00843e
$main-light: transparentize($main, 0.3)
$sec: #aaae07
$alt: #82424f
$dark: #526655
$darker: #39403a
$grey-one: #f5f5f5
$grey-two: #eee
$grey-three: #ddd
$grey-four: #bbb
$body: #738075

$valid: #5cb85c
$error: #d9534f
$alert: #f0ad4e

// Breakpoints
$sm-min: 768px
$xs-max: ($sm-min - 1)
$md-min: 992px
$sm-max: ($md-min - 1)
$lg-min: 1200px
$md-max: ($lg-min - 1)

//Transitions
$smooth-1: all 0.3s cubic-bezier(0.750, 0.001, 0.250, 1.000)
$smooth-2: all 0.6s cubic-bezier(0.750, 0.001, 0.250, 1.000)

@keyframes bg-filters
  0%
    background: url(../img/background.jpg) no-repeat center bottom
  100%
    background: url(../img/background2.jpg) no-repeat center bottom

@keyframes wide
  0%
    width: 0%
  100%
    width: 50%

body
  font-family: $font-main
  color: white
  margin: 0
  padding: 0

  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  min-height: 100vh

  background-size: cover
  background: url(../img/background2.jpg) no-repeat center bottom
  animation: 1500ms cubic-bezier(0.74, 0.02, 0.31, 1.01) 0s 1 bg-filters

.container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100%
  @media (min-width: $sm-min)
    width: 768px

.logo
  width: 22rem
  padding-left: 3rem

h1
  margin: 0
  margin-top: -0.5rem
  font-size: 1.6rem
  font-weight: 300

.animate-wide
  margin-top: 1rem
  margin-bottom: 1rem
  width: 50%
  animation: 1500ms cubic-bezier(0.74, 0.02, 0.31, 1.01) 0s 1 wide

.text
  font-weight: 300
  text-align: center
  font-size: 1.15rem
